<html ng-app>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

.btn-primary:hover, 
.btn-primary:focus {
	background-color: #2980b9;
}

.btn-primary {
	background-color : #3498db;
}
h3 {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 10px 0px 6px 0px;
	font-size: 26px;
	letter-spacing: -2px;
	font-weight: 500;
}

.well {
	background-color:white;
	border-radius: 0;
	margin-bottom : 2px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
</style>
</head>
<body >

	<div ng-controller="FiltersController" >
	<div  ng-show="show_filters" id="filters" >

		<h3 class="text-center" >Filters 
		
		<button type="button" class="btn btn-danger" 
		ng-show="apllied_any_filter" ng-click="clear_filters()">  <span class="glyphicon glyphicon-remove"></span> clear all</button>
		</h3>
		<hr>
		<form>
			<div class="form-group ">
				<div class="dropdown">
					<select class="form-control"
						ng-options="c.name for c in getCategories()"
						ng-model="live_filters.category" ng-change="applied_filters.category = true;filter()">
						<option value="">Categories (all)</option>

					</select>
				</div>
			</div>
			<hr>
			<hr style="margin-top:3px;">
			<div class="form-group ">
				<label>Price</label>
				<div class="radio" style="vertical-align: middle">
					<label>
						<input ng-model="live_filters.price" ng-value="'less'" 
						ng-click="applied_filters.mid_price = true;filter()"
						type="radio" name="optradio"> 
						< {{mid_price}} <small>&euro;</small>
					</label>

				</div>
				<div class="radio" style="vertical-align: middle">
					<label>
					<input ng-model="live_filters.price" ng-value="'more'"
					ng-click="applied_filters.mid_price = true;filter();" 
					type="radio"
					name="optradio"> > {{mid_price}} <small>&euro;</small></label>
				</div>

			</div>
			<div class="form-inline">
				<form class="input-group">
				
					<input ng-model="live_filters.price_from" type="text" size="5"
						class="form-control" placeholder="from" 
					/> 
					<input
						ng-model="live_filters.price_to" type="text" size="5" class="form-control"
						placeholder="to" 
					/>
					
					<button class="btn btn-primary " 
					ng-click="applied_filters.mid_price = false; live_filters.price = null;
					applied_filters.given_price = true;
					filter();">
					>
					</button>
				</form>
			</div>
			<hr>
			<hr style="margin-top:3px;">
			<div class="form-group ">
				<label>Location</label>

				<div class="radio">
					<label><input ng-model="location_continent" type="radio"
						style="vertical-align: middle" name="location">US</label>
				</div>
				<div class="radio">
					<label><input ng-model="location_continent" type="radio"
						style="vertical-align: middle" name="location">Europe</label>
				</div>
				<div class="radio">
					<label><input ng-model="location_continent" type="radio"
						style="vertical-align: middle" name="location">Asia</label>
				</div>
				<div class="radio">
					<label><input ng-model="location_continent" type="radio"
						style="vertical-align: middle" name="location">North
						America</label>
				</div>
			</div>
			<div class="form-inline" >
				<form class="input-group">
					<input ng-model="live_filters.country" type="text" 
						class="form-control" placeholder="Country or Location" /> 
					 <span class="input-group-btn"> 	
						<button class="btn btn-primary "
						ng-click="applied_filters.country = true; filter();">></button>
					</span>
				</form>
			</div>
			<hr>
			<hr style="margin-top:3px;">
			<label for="description">Description</label>
			<div class="form-inline">
				<form class="input-group">
					<input ng-model="live_filters.text" type="text" id="desc"
						class="form-control" placeholder="Word in description" /> 
					<span class="input-group-btn"> 	
					<button class="btn btn-primary" ng-click="applied_filters.free_text = true; filter();">></button>
					</span>
				</form>
			</div>
			<hr>
			
		</form>
	</div>
	<div ng-hide="show_filters">
		<button class="btn btn-info">filters ></button>
	</div>
</div>
</body>
</html>