<html ng-app>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div ng-include="'app/shared/header/header.html'"></div>
	<div class="container-fluid" ng-controller="AuctionsController" ng-cloak>
			<div class= "row">
				<ng-include src="'app/components/search/search_head_tmpl.html'">
			</div>
			
			<div class="row">
				<div class="col-xs-offset-1 col-sm-2" id="sidebar">
					<ng-include src="'app/components/search/filters.html'">	
				</div>
				<div class="col-xs-offset-0 col-sm-7 ">
					<div ng-include="'app/components/search/list_items.html'"></div>
				</div>
			</div>
	</div>
	
</body>
</html>