<html ng-app>
<head>
<meta charset="UTF-8">
<meta name="description" content="Simple Map">
<meta name="keywords" content="ng-map,AngularJS,center">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<title>AuctionManager</title>

<style>

.angular-google-map-container {
    height: 300px;
}
.angular-google-map {
    height: 300px;
}


#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	background: #ededed;
	padding: 10px;
}

#content {
	padding-bottom: 110px; /* Height of the footer element */
}

.pagination>li>a {
	border: 0px;
	color: black;
}

.pagination>li.active>a {
	font-weight: 900;
	color: black;
	background: transparent;
	margin-top: 0px;
	padding-top: 2px;
	padding-bottom: 0px;
	font-size: 16px;
}

.pagination>li.active>a:hover, .pagination>li>a:hover {
	background-color: #ecf0f1;
}

.nohover:hover {
	background-color: white;
}

h3 {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	/*color: #444;
	*/
	margin: 0;
	padding: 10px 0px 6px 0px;
	font-size: 20px;
	letter-spacing: 0px;
	font-weight: bold;
	border-radius: 0;
}

.side_borders {
	border-left: 1px dashed #333;
	border-right: 1px dashed #333;
}

.right_border {
	border-right: 1px solid #333;
}

ul>li>a {
	color: #333;
}

ul>li>a  : hover {
	
}

ul>li>a.active {
	font-weight: 600;
	color: red;
}

/* .ng-hide-add, .ng-hide-remove {
	/* ensure visibility during the transition */
	display: block !important; /* yes, important */
} */

.slideUp {
	transition: .5s linear all; //
	height: 80px;
	overflow: hidden;
}

/* .slideUp.ng-hide {
	height: 0;
} */

.table-inbox tr td:hover {
	cursor: pointer;
}

.panel, .panel-body, .panel-heading
.panel-deafult {
	background-color: transparent;
	border-radius: 0;
	margin-bottom: 2px; //
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	box-shadow: 0 3px 0px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.panel-default>.panel-heading {
	background-color: transparent;
}

.btn {
	border-radius: 0;
}

tr.read {
	background-color: rgba(243, 243, 243, .85);
}

tr.unread {
	background-color: white;
	font-weight: bold;
}

.create {
	background-color: #e74c3c;
	color: #e74c3c;
}

.overview {
	background-color: #27ae60;
	color: #27ae60;
}

.paragraph-message {
	margin-top: 2.5%;
	font-size: 16px;

	min-height: 100px;
	text-indent: 50px;
	text-align: justify;
	margin-bottom:2.5%;
	font-family: verdana,helvetica,sans-serif;
}

</style>
</head>
<body>

<div class="container-fluid" ng-controller="AuctionManagerController">
	
	<div class="row " style="margin-bottom:20px;">

	<div class="col-md-offset-1 col-md-2 panel panel-default" style="padding:0px 0px;">
		<!-- <div class="text-center panel-heading">
			<h3> {{name}} {{surname}} : Profile </h3>
		</div> -->
		<ul class="nav nav-tab nav-stacked panel-body" role="tablist">
			<li class="text-center" role="presentation" >
				<a ng-click ="set_active(1)" id="overview_tab" data-toggle="tab" data-target="#overview"
					href="" class="active">
					<span class="glyphicon glyphicon-eye-open" style="margin-right: 3px;"></span>
					All Auctions
				</a>
			</li>
			<hr/>
			<li class="text-center" role="presentation" >
				<a ng-click="set_active(2)" id="create_tab" data-toggle="tab" data-target="#create" 
				href="">
	        	   	<span class="glyphicon glyphicon-pencil" ></span>
	    	       	Create New Auction
				</a>
			</li>
		</ul>
	</div>


	<div class="col-sm-7 panel panel-default"  
		style="padding:0px 0px; margin-left:5px;" 
		ng-cloak>
		<div class="text-center panel-heading" 
			ng-class="{'overview' : current_tab == 'All Auctions' , 'create' : current_tab =='New Auction', 
			'edit' : current_tab =='Edit Auction'}">
			<!-- style="background-color:#16A085;color:#FBFBFB;" -->
			<h3> {{current_tab}} </h3>
		</div>
	
		<div class="tab-content">
		
			<div role="tabpanel" id="overview" class="tab-pane fade in active " 
				style="margin-top:10px;margin-left:2.5%;margin-right:2.5%;" ng-cloak>
				
				<table class="table table-bordered">
					<th style="background-color: #f1f1f1;" ng-repeat="h in headers.fields" 
						ng-click="changeSorting(h.orderByField)">
						<a> {{h.name}} </a>
					</th>
					<tr ng-repeat="i in items | orderBy:orderByField:descending">
						<td>{{i.idItem}}</td>
						<td>{{i.name}}</td>
						<td>{{i.started}}</td>
						<td>{{i.ends}}</td>
						<td>{{i.firstBid}}</td>
						<td>{{i.buyPrice}}</td>
						<td>{{i.currently}}</td>
						<td>{{i.numberOfBids}}</td>
						<td><a ng-click="viewItem(i)">View</a></td>
						<td><a ng-if="i.numberOfBids == 0" ng-click="editItem(i)" 
							data-toggle="tab" data-target="#create">Edit</a>
							<em style="color:gray;" ng-if="i.numberOfBids > 0">Edit</em></td>
						<td><a ng-if="i.numberOfBids == 0" ng-click="deleteItem(i)">Delete</a>
							<em style="color:gray;" ng-if="i.numberOfBids > 0">Delete</em></td>
					</tr>
				</table>
				
			</div>
			
			<div role="tabpanel" id="create" class="tab-pane fade" 
				style="margin-top:10px;margin-left:2.5%;margin-right:2.5%;" ng-cloak>
				
				<div class="alert alert-danger text-center" ng-if="error_server && !form_touched">
			  		<strong>Error!</strong><br/>We are terribly sorry.<br/>There must have been a server error.<br/>
				</div>
				<div class="alert alert-success text-center" ng-if="successful_creation && !form_touched">
		  			<strong>Success!</strong><br/>New auction created.<br/>
				</div>
				<div class="alert alert-danger text-center" ng-if="error_prices">
		  			<strong>Warning!</strong><br/>Buy-price cannot be lower than first-bid-price.<br/>
				</div>
				<div class="alert alert-danger text-center" ng-if="error_current_time">
		  			<strong>Warning!</strong><br/>Start and end time cannot be before current time.<br/>
				</div>
				<div class="alert alert-danger text-center" ng-if="error_startEnd_time">
		  			<strong>Warning!</strong><br/>End time cannot be before start time.<br/>
				</div>
				<div class="alert alert-danger text-center" ng-if="error_map">
		  			<strong>Warning!</strong><br/>You have to move the pin the desirable coordinates.<br/>
				</div>
				
				<form id="newAuctionForm" class="form-horizontal" role="form" name="form"
					ng-submit="form.$valid && createAuction()" novalidate>

					<div class="form-group">
						<div class="col-xs-12 has-feedback" ng-messages="form.name.$error"
						ng-class="{'has-error' : ((submitted || form.name.$touched) && form.name.$invalid) , 
						'has-success': form.name.$valid }">
							<label class="control-label" for="name">Name:</label>
							<input type="text" class="form-control" name="name"
								ng-model="item.name" placeholder="Name or small description of item" 
								ng-required="true" ng-click="form_touched = true">
							<i class="glyphicon glyphicon-tag form-control-feedback"></i>
							<div ng-show="form.name.$touched || submitted" ng-message="required">You must fill this field.</div>
						</div>
					
					
						<div class="col-xs-12 has-feedback" ng-messages="form.description.$error"
						ng-class="{'has-error' : ((submitted || form.description.$touched) && form.description.$invalid) , 
						'has-success': form.description.$valid }">
							<label class="control-label" for="description">Description:<br></label>
							<textarea name="description" rows="4" cols="115" class="form-control"
								ng-model="item.description" placeholder="Description of item" 
								ng-required="true" ng-click="form_touched = true"
								style="height:inherit; width:inherit; resize:none"></textarea>
							<i class="glyphicon glyphicon-tags form-control-feedback"></i>
							<div ng-show="form.description.$touched || submitted" ng-message="required">You must fill this field.</div>
						</div>
					</div>
					
					<hr>
					
					<div class="form-group">
						<div class="col-xs-6 has-feedback" ng-messages="form.buyPrice.$error"
						ng-class="{'has-error' : ((submitted || form.buyPrice.$touched) && form.buyPrice.$invalid) , 
						'has-success': form.buyPrice.$valid }">
							<label class="control-label" for="buyPrice">Buy price:</label>
							<input type="text" class="form-control" name="buyPrice"
								ng-model="item.buyPrice" placeholder="Price to win auction immediately" 
								ng-required="true" ng-pattern="price_pattern" ng-click="form_touched = true">
							<i class="glyphicon glyphicon-euro form-control-feedback"></i>
							<div ng-show="form.buyPrice.$touched || submitted" ng-message="required">You must fill this field.</div>
						</div>
					
						<div class="col-xs-6 has-feedback" ng-messages="form.firstBid.$error"
						ng-class="{'has-error' : ((submitted || form.firstBid.$touched) && form.firstBid.$invalid) , 
						'has-success': form.firstBid.$valid }">
							<label class="control-label" for="firstBid">First bid:</label>
							<input type="text" class="form-control" name="firstBid" 
								ng-model="item.firstBid" placeholder="Minimum amount of first bid"
								ng-required="true" ng-pattern="price_pattern" ng-click="form_touched = true">
							<i class="glyphicon glyphicon-euro form-control-feedback"></i>
							<div ng-show="form.firstBid.$touched || submitted" ng-message="required">You must fill this field.</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-6 has-feedback" ng-messages="form.started.$error"
						ng-class="{'has-error' : ((submitted || form.started.$touched) && form.started.$invalid) , 
						'has-success': form.started.$valid }">
							<label class="control-label" for="started">Start time:</label>
							<input id="datefield" type="datetime-local" class="form-control" name="started"
								ng-model="curItem.started" ng-required="true" ng-click="form_touched = true">
							<i class="glyphicon glyphicon-calendar form-control-feedback"></i>
		                    <div ng-show="form.started.$touched || submitted" ng-message="required">You must fill this field.</div>
						</div>
						
						<div class="col-xs-6 has-feedback" ng-messages="form.ends.$error"
						ng-class="{'has-error' : ((submitted || form.ends.$touched) && form.ends.$invalid) , 
						'has-success': form.ends.$valid }">
							<label class="control-label" for="ends">End time:</label>
							<input id="datefield" type="datetime-local" class="form-control" name="ends" 
								ng-model="curItem.ends" ng-required="true" ng-click="form_touched = true">
							<i class="glyphicon glyphicon-calendar form-control-feedback"></i>
							<div ng-show="form.ends.$touched || submitted" ng-message="required">You must fill this field.</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-6" ng-messages="form.category.$error"
						ng-class="{'has-error' : ((submitted || form.category.$touched) && form.category.$invalid) , 
						'has-success': form.category.$valid }">
							<label class="control-label" for="category">Categories:</label>
							<select class="form-control" ng-model="curItem.category" ng-required="true" name="category"
								ng-options="category.name for category in categories" 
								ng-click="form_touched = true" size="5" multiple="multiple" tabindex="1">
							</select>
							<div ng-show="form.category.$touched || submitted" ng-message="required">You must select an option.</div>
						</div>
						
						<div class="col-xs-6 has-feedback">
							<br><em><strong><p>Note:</p></strong>
							<p>Select one or more categories that the item belongs to.</p>
							<p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p></em>
						</div>
					</div>

					<hr>
					
					<div class="form-group">
						<div class="col-xs-6" ng-messages="form.country.$error"
						ng-class="{'has-error' : ((submitted || form.country.$touched) && form.country.$invalid) , 
						'has-success': form.country.$valid }">
							<label class="control-label" for="country">Country:</label>
							<select class="form-control" ng-model="curItem.country" ng-required="true" name="country"
								ng-options="country.name for country in countries track by country.code" 
								ng-click="form_touched = true">
								<option value="">{{default_country_option}}</option>
							</select>
							<div ng-show="form.country.$touched || submitted" ng-message="required">You must select an option.</div>
						</div>

						<div class="col-xs-6 has-feedback" ng-messages="form.location.$error"
						ng-class="{'has-error' : ((submitted || form.location.$touched) && form.location.$invalid) , 
						'has-success': form.location.$valid }">
							<label class="control-label" for="location">Location:</label>
							<input type="text" class="form-control" name="location"
								ng-model="item.location.location" ng-required="true" placeholder="Location" 
								ng-click="form_touched = true">
							<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
							<div ng-show="form.location.$touched || submitted" ng-message="required">You must fill this field.</div>
						</div>
					</div>
					
 
					<div class="form-group">
						<div class="col-xs-12" id="map_canvas" style="width:100%; height:300px">
							<ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" draggable="true">
								<ui-gmap-marker idKey="marker.id" coords="marker.coords" options="marker.options" events="marker.events" draggable="true"> 							
								</ui-gmap-marker>
							</ui-gmap-google-map>
						</div>
					</div>

<!-- 
<div id="map" style="width:100%;height:300px"></div>

<script>
function myMap() {
	var myCenterCanvas = new google.maps.LatLng(44.5278427984555 , 13.623046875);
	var myCenterMarker = new google.maps.LatLng(37.968459261473726 , 23.76688241958618);
	var mapCanvas = document.getElementById("map");
	var mapOptions = {center: myCenterCanvas, zoom: 5};
	var map = new google.maps.Map(mapCanvas, mapOptions);
	var marker = new google.maps.Marker({
		position: myCenterMarker,
		//animation: google.maps.Animation.BOUNCE,
		draggable: true
	});
	marker.setMap(map);
	
	// Zoom to 9 when clicking on marker
	google.maps.event.addListener(marker,'click',function() {
		map.setZoom(9);
		map.setCenter(marker.getPosition());
	});
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5Zj0O2oDwHqfAGlVCcF-FCyWRHTswbyc&callback=myMap"></script>
 -->

					<hr>
								
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-6">
							<button class="btn btn-success btn-block" type="submit" 
								ng-click="submitted = true; form_touched = true"
								style="background-color: #27AE60; color: #ECF0F1;">
								<strong ng-if="current_tab == 'New Auction'">Create</strong>
								<strong ng-if="current_tab == 'Edit Auction'">Update</strong>
							</button>
						</div>
					</div>
				</form>
								
			</div>
			
			
		</div>
	</div> 	

	</div>
	
</body>
</html>