<!DOCTYPE html>
<html lang="en">
<head>
	<title>Auction Land - Sign Up</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/signup.css">
</head>

<body>
	<div ng-controller="UserController as ctrl">
	<div id="signup_modal" class="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #F2F1EF">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="text-center" style="color: #2980B9;">
						<strong>Register</strong>
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" name="form"
						ng-submit="form.$valid && submit() " novalidate>
						<div class="form-group">

							<div id="username_div" class="col-xs-6 has-feedback" ng-messages="form.username.$error" role="alert"
							ng-class="{'has-error' : (submitted && form.username.$invalid) || (form.username.$touched && form.username.$invalid)}">
								<label class="control-label" for="usrname">Username:</label> 
								<input type="text"
									class="form-control" id="username" name="username"
									ng-model="user.username" ng-required="true"
									ng-blur="form.username.$dirty && check_username()" placeholder="Username"
									ng-pattern="username_pattern"> 
								<span id="username_span"></span> 
								<i id="i-username" class="glyphicon glyphicon-user form-control-feedback"></i>
								<div ng-message="exists">Username already exists.</div>
								<div ng-show="form.username.$touched || submitted" ng-message="required">You must fill this field.</div>
								<div ng-show="form.username.$touched || submitted" ng-message="pattern">Username must contain only letters and numbers.</div>
								
							</div>

							<div class="col-xs-6 has-feedback" ng-messages="form.email.$error" role="alert" 
								ng-class="{'has-error' : (submitted || form.email.$touched) && form.email.$invalid , 'has-success': form.email.$valid }">
								<label class="control-label" for="email">Email:</label> 
								<input type="email"
									class="form-control" name="email" ng-model="user.email"
									ng-required="true"
									placeholder="Email" > 
								<i class="glyphicon glyphicon-user form-control-feedback"></i>
								<div ng-show="form.email.$touched || submitted" ng-message="email">You should enter a valid email</div>
								<div ng-show="form.email.$touched || submitted" ng-message="required">You must fill this field.</div>
							</div>
						</div>

						<div class="form-group">

							<div id="username_div" class="col-xs-6 has-feedback" ng-messages="form.pass.$error" role="alert" 
								ng-class="{'has-error' : 
								(submitted && form.pass.$invalid) || (form.pass.$touched && form.pass.$invalid) || (form.pass.$dirty && !strong && !medium),
								'has-success': strong, 'has-warning' : medium }"
								>
								<label class="control-label" for="pass">Password:</label> 
								<input ng-focus="focus = true" ng-blur="focus = false" ng-change="strength(user.password);confirm_pass()" 
									type="password" class="form-control" name="pass"
									ng-model="user.password" ng-required="true" placeholder="Password">
								<i class="glyphicon glyphicon-lock form-control-feedback"></i>
								<div ng-show="form.pass.$touched || submitted" ng-message="required">You must fill this field.</div>
								<div class="progress" ng-show="form.pass.$dirty">
								<div class="progress-bar" 
								  ng-class="{'progress-bar-success' : strong, 'progress-bar-warning' : medium , 'progress-bar-danger' : !strong && !medium}"
								  role="progressbar" 
								  aria-valuenow="1"
								  aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : progress_width}"
								  " style="color: #000000;">
								  {{pass_message}}
								  </div>
								</div>

								<div class="alert alert-warning" ng-show="focus && !strong" >
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Warning!</strong><br/>
								Use lowercase, uppercase, numbers, and optionally special characters.
								Minimum length : 6.
								</div>
							</div>

							<div class="col-xs-6 has-feedback" ng-messages="form.confirm.$error" role="alert" id="confirm-div"
								ng-class=
								"{'has-error' : (submitted || form.confirm.$dirty || form.confirm.$touched) && (form.confirm.$invalid || (!match)) 
								, 'has-success': match }">
								<label class="control-label" for="pwd">Confirm Password:</label>
								 <input	type="password" class="form-control" name="confirm"
									ng-model="confirm" ng-required="true" placeholder="Password"
									ng-change="confirm_pass()">
								<i class="glyphicon glyphicon-lock form-control-feedback"></i>
								<div ng-show="form.confirm.$touched || submitted " ng-message="required">You must fill this field. </div>
								<div ng-show="form.confirm.$dirty || submitted" ng-message="match">Password does not match.</div>
							</div>
						</div>

						<hr>

						<div class="form-group">
							<div class="col-xs-6 has-feedback" ng-messages="form.name.$error"
							ng-class="{'has-error' : ((submitted || form.name.$touched) && form.name.$invalid) , 
							'has-success': form.name.$valid }">
								<label  class="control-label" for="name">Name:</label>
								<input type="text" class="form-control" name="name"
									ng-model="user.firstName" placeholder="Name" ng-required="true">
								<i class="glyphicon glyphicon-user form-control-feedback"></i>
								<div ng-show="form.name.$touched || submitted" ng-message="required">You must fill this field.</div>
							</div>
						
							<div class="col-xs-6 has-feedback" ng-messages="form.surname.$error"
							ng-class="{'has-error' : ((submitted || form.surname.$touched) && form.surname.$invalid) , 
							'has-success': form.surname.$valid }">
								<label class="control-label" for="surname">Surname:</label>
								<input type="text" class="form-control" name="surname" 
									ng-model="user.lastName" ng-required="true" placeholder="Surname">
								<i class="glyphicon glyphicon-user form-control-feedback"></i>
								<div ng-show="form.surname.$touched || submitted" ng-message="required">You must fill this field.</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12 has-feedback" ng-messages="form.trn.$error"
							ng-class="{'has-error' : ((submitted || form.trn.$touched) && form.trn.$invalid) , 
							'has-success': form.trn.$valid }">
								<label class="control-label" for="TRN">TRN:</label>
								<input type="text" class="form-control " name="trn"
									ng-model="user.afm" ng-required="true" placeholder="Tax Registration Number">
								<i class="glyphicon glyphicon-info-sign form-control-feedback"></i>
								<div ng-show="form.trn.$touched || submitted" ng-message="required">You must fill this field.</div>
							</div>
						</div>

						<hr>

						<div class="form-group">
							<div class="col-xs-6" ng-messages="form.country.$error"
							ng-class="{'has-error' : ((submitted || form.country.$touched) && form.country.$invalid) , 
							'has-success': form.country.$valid }">
								<label class="control-label" for="country">Country:</label>
								<select class="form-control" ng-model="user.country" ng-required="true" name="country"
									ng-options="country.name for country in countries track by country.code">
									<option value="">Country</option>
								</select>
								<div ng-show="form.country.$touched || submitted" ng-message="required">You must select an option.</div>
							</div>
	
							<div class="col-xs-6 has-feedback" ng-messages="form.city.$error"
							ng-class="{'has-error' : ((submitted || form.city.$touched) && form.city.$invalid) , 
							'has-success': form.city.$valid }">
								<label class="control-label" for="city">City:</label>
								<input type="text" class="form-control" name="city"
									ng-model="user.location.city" ng-required="true" placeholder="City">
								<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
								<div ng-show="form.city.$touched || submitted" ng-message="required">You must fill this field.</div>
							</div>
						</div>
	
						<div class="form-group">
							<div class="col-xs-6 has-feedback" ng-messages="form.address.$error"
							ng-class="{'has-error' : ((submitted || form.address.$touched) && form.address.$invalid) , 
							'has-success': form.address.$valid }">
								<label class="control-label" for="address">Address:</label>
								<input type="text" class="form-control" name="address"
									ng-model="user.location.address" ng-required="true" placeholder="Address">
								<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
								<div ng-show="form.address.$touched || submitted" ng-message="required">You must fill this field.</div>
							</div>

							<div class="col-xs-6 has-feedback" ng-messages="form.phone.$error"
							ng-class="{'has-error' : ((submitted || form.phone.$touched) && form.phone.$invalid) , 
							'has-success': form.phone.$valid }">
								<label class="control-label" for="tel">Telephone:</label>
								<input type="text" class="form-control" name="phone"
									ng-model="user.phone" ng-required="true" placeholder="Telephone">
								<i class="glyphicon glyphicon-phone form-control-feedback"></i>	
								<div ng-show="form.phone.$touched || submitted" ng-message="required">You must fill this field.</div>
							</div>
						</div>
						<hr>
						
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-6">
								<button class="btn btn-success btn-block" type="submit" ng-click="submitted = true"
									style="background-color: #27AE60; color: #ECF0F1;"><strong>Submit</strong></button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
		
	</div>
		<div ng-include="'app/shared/header/signup_response.html'"></div>
	</div>

</body>
</html>