<!DOCTYPE html>
<html lang="en">
<head>
	<title>Auction Land - Login</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="signup.css">
</head>

<body>
	<!-- Modal -->  
	<div id="login_modal" class="modal" role="dialog"
		ng-controller="LoginController as ctrl">>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#F2F1EF">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<!-- <img class="logo-size" src="logo4.png" /> -->
					<h4 class="text-center" style="color:#2980B9;"><strong>Login</strong></h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" name="form"
						ng-submit="form.$valid && submit()" novalidate>
						
						<div class="form-group">
							<div id="username_div" class="has-feedback" ng-messages="form.username.$error" role="alert" 
								ng-class="{'has-error' : (submitted && form.username.$invalid) || (form.username.$touched && form.username.$invalid) , 'has-success': form.username.$valid }">
								<label class="control-label col-sm-2" for="usrname">Username:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="username" name="username" 
										ng-model="user.username" ng-required="true"
										ng-blur="form.username.$dirty && check_username()" 
										placeholder="Enter Username">
									<span id="username_span"></span> 
									<i id="i-username" class="glyphicon glyphicon-user form-control-feedback"></i>
									<div ng-message="not_exists">Username does not exist.</div>
									<div ng-show="form.username.$touched || submitted" ng-message="required">You must fill this field.</div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div id="password_div" class="has-feedback" ng-messages="form.pass.$error" role="alert" 
								ng-class="{'has-error' : (submitted && form.pass.$invalid) , 'has-success': form.pass.$valid }">
								<label class="control-label col-sm-2" for="pass">Password:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="pass"
										ng-model="user.password" ng-required="true" 
										ng-blur="form.pass.$dirty && check_password()" 
										placeholder="Password">
									<span id="password_span"></span> 
									<i id="i-password" class="glyphicon glyphicon-lock form-control-feedback"></i>
									<div ng-message="wrong">Wrong password.</div>
									<div ng-show="form.pass.$touched || submitted" ng-message="required">You must fill this field.</div>	
								</div>
							</div>
						</div>
						
						<hr>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-6">
								<button class="btn btn-success btn-block" type="submit" ng-click="submitted = true"
									style="background-color: #27AE60; color: #ECF0F1;"><strong>Login</strong></button>
							</div>
						</div>
					</form>
				</div>
				<!--
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				-->
			</div>
		</div>
	</div>
	
</body>
</html>