<html ng-app>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class=" col-sm-offset-3 col-sm-2">
		<h3 style="display: inline-block;">
			{{filtered_items.length}} auctions <small>page
				{{current_page}} of {{pages.length}}</small>
		</h3>
	</div>
	<div class="col-sm-offset-1 col-sm-4">
		<ul class="pagination pagination-sm" style="float: right;">
			<li><a ng-class="{'disabled' : current_page == 1}"
				ng-disabled="current_page == 1" class="btn btn-default btn-sm"
				ng-click="get_page(current_page-1)"><</a></li>

			<li ng-repeat="p in pages"><a class="btn btn-default btn-sm"
				ng-class="{'btn-primary' : current_page == p}"
				ng-click="get_page(p)">{{p}}</a></li>

			<li><a class="btn btn-default btn-sm"
				ng-disabled="current_page == last_page"
				ng-click="get_page(current_page+1)"
				ng-class="{'disabled' : current_page == last_page}">> </a></li>
		</ul>
	</div>
</body>
</html>