.modal-content  {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px  !important;
    border-radius: 25px !important;
}

.modal-header  {
    -webkit-border-top-left-radius: 25px  !important;
    -moz-border-top-left-radius: 25px  !important;
    -webkit-border-top-right-radius: 25px  !important;
    -moz-border-top-right-radius: 25px  !important;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}

