.modal-content  {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px  !important;
    border-radius: 25px !important;
}

.modal-header  {
    -webkit-border-top-left-radius: 25px  !important;
    -moz-border-top-left-radius: 25px  !important;
    -webkit-border-top-right-radius: 25px  !important;
    -moz-border-top-right-radius: 25px  !important;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}


/* OPTIONAL : CENTERED MODAL 

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/****************************/