<!DOCTYPE html>
<html>
<head>
	<title>Auction Land - Sign Up</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="signup.css">
</head>

<body>
	<div id="signup_modal" class="modal" role="dialog"
		ng-controller="UserController as ctrl">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #F2F1EF">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="text-center" style="color: #2980B9;">
						<strong>Register</strong>
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" name="form"
						ng-submit="form.$valid && submit()" novalidate>
						<div class="form-group">

							<div id="username_div" class="col-xs-6 has-feedback" ng-messages="form.username.$error" role="alert"
							ng-class="{'has-error' : submitted && form.username.$invalid}">
								<label class="control-label" for="usrname">Username:</label> 
								<input type="text"
									class="form-control" id="username" name="username"
									ng-model="user.username" ng-required="true"
									ng-blur="form.username.$dirty && check_username()" placeholder="Username"> 
								<span id="username_span"></span> 
								<i id="i-username" class="glyphicon glyphicon-user form-control-feedback"></i>
								<div ng-message="exists">Username already exists.</div>
								<div ng-show="form.email.$touched || submitted" ng-message="required">You must fill this field.</div>
								
							</div>

							<div class="col-xs-6 has-feedback" ng-messages="form.email.$error" role="alert" 
								ng-class="{'has-error' : (submitted && form.email.$invalid) || (form.email.$touched && form.email.$invalid) , 'has-success': form.email.$valid }">
								<label class="control-label" for="email">Email:</label> 
								<input type="email"
									class="form-control" name="email" ng-model="user.email"
									ng-required="true"
									placeholder="Email" > 
<!-- 								<span id="f-mail" class="has-error" "></span> -->
								<i class="glyphicon glyphicon-user form-control-feedback"></i>
								<div ng-show="form.email.$touched || submitted" ng-message="email">You should enter a valid email</div>
								<div ng-show="form.email.$touched || submitted" ng-message="required">You must fill this field.</div>
							</div>
						</div>
						<div class="form-group">

							<div id="username_div" class="col-xs-6 has-feedback" ng-messages="form.pass.$error" role="alert" 
								ng-class="{'has-error' : (submitted && form.pass.$invalid) , 'has-success': form.pass.$valid }">
								<label class="control-label" for="pass">Password:</label> <input
									type="password" class="form-control" name="pass"
									ng-model="user.password" ng-required="true" placeholder="Password">
								<i class="glyphicon glyphicon-lock form-control-feedback"></i>
								<div ng-show="form.pass.$touched || submitted" ng-message="required">You must fill this field.</div>
									
							</div>

							<div class="col-xs-6 has-feedback" ng-messages="form.confirm.$error" role="alert" id="confirm-div"
								ng-class="{'has-error' : (submitted && form.confirm.$invalid) || (form.confirm.$error.match) , 'has-success': form.confirm.$error.match==false }">
								<label class="control-label" for="pwd">Confirm Password:</label>
								 <input	type="password" class="form-control" name="confirm"
									ng-model="confirm" ng-required="true" placeholder="Password"
									ng-change="confirm_pass()">
								<i class="glyphicon glyphicon-lock form-control-feedback"></i>
								<div ng-show="form.confirm.$touched || submitted" ng-message="required">You must fill this field.</div>
								<div ng-show="form.confirm.$dirty || submitted" ng-message="match">Password does not match.</div>
							</div>
						</div>

						<hr>

						<div class="form-group">
							<div class="col-xs-6 has-feedback">
								<label  for="name">Name:</label>
								<input type="text" class="form-control" id="name"
									ng-model="user.firstName" placeholder="Name" ng-required="true">
								<i class="glyphicon glyphicon-user form-control-feedback"></i>
									
							</div>
						
							<div class="col-xs-6 has-feedback">
								<label for="surname">Surname:</label>
								<input type="text" class="form-control" id="surname" 
									ng-model="user.lastName" ng-required="true" placeholder="Surname">
								<i class="glyphicon glyphicon-user form-control-feedback"></i>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-1" for="TRN">TRN:</label>
							<div class="col-sm-10 has-feedback">
								<input type="text" class="form-control" id="trn"
									ng-model="user.afm" ng-required="true" placeholder="Tax Registration Number">
								<i class="glyphicon glyphicon-info-sign form-control-feedback"></i>
							</div>
						</div>

						<hr>

						<div class="form-group">
							<div class="col-xs-6">
								<label class="control-label" for="country">Country:</label>
								<select class="form-control" ng-model="user.country" ng-required="true"
									ng-options="country.name for country in countries track by country.code">
									<option value="">Country</option>
								</select>
							</div>
	
							<div class="col-xs-6 has-feedback ">
								<label class="control-label" for="city">City:</label>
								<input type="text" class="form-control" id="city"
									ng-model="user.location.city" ng-required="true" placeholder="City">
								<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
							</div>
						</div>
	
						<div class="form-group">
							<div class="col-xs-6 has-feedback">
								<label class="control-label" for="address">Address:</label>
								<input type="text" class="form-control" id="address"
									ng-model="user.location.address" ng-required="true" placeholder="Address">
								<i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
							</div>

							<div class="col-xs-6 has-feedback">
								<label class="control-label" for="tel">Telephone:</label>
								<input type="text" class="form-control" id="telephone"
									ng-model="user.phone" ng-required="true" placeholder="Telephone">
								<i class="glyphicon glyphicon-phone form-control-feedback"></i>	
							</div>
						</div>
						<hr>
						
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-6">
								<button class="btn btn-success btn-block" type="submit" ng-click="submitted = true"
									style="background-color: #27AE60; color: #ECF0F1;"><strong>Submit</strong></button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>