<!DOCTYPE html>
<html ng-app="auction_land">
<head>
<meta charset="UTF-8">
<title>Auction Land - Sign Up</title>
<script src="./angular/angular.min.js"></script>
<script src="./auction_land.js"></script>
</head>

<style>
.modal-content  {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px  !important;
    border-radius: 25px !important;
}

.modal-header  {
    -webkit-border-top-left-radius: 25px  !important;
    -moz-border-top-left-radius: 25px  !important;
    -webkit-border-top-right-radius: 25px  !important;
    -moz-border-top-right-radius: 25px  !important;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;

}
</style>

<body>
		<!-- Modal -->  
	<div id="signup_modal" class="modal" role="dialog" ng-controller="SignUpController" >
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#F2F1EF">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<!-- <img class="navbar-brand logo-size" src="logo4.png" /> -->
					<h4 class="text-center" style="color:#2980B9;"><strong>Register</strong></h4>
			</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
					 <div class="form-group">
					    <label class="control-label col-sm-2" for="usrname">Username:</label>
					    <div class="col-sm-10">

					      <input type="text" class="form-control" id="username" placeholder="Username" ng-model="name" ng-required>
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="control-label col-sm-2" for="pwd">Password:</label>
					    <div class="col-sm-10"> 
					      <input type="password" class="form-control" id="pwd" placeholder="Password">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="control-label col-sm-2" for="pwd">Password again:</label>
					    <div class="col-sm-10"> 
					      <input type="password" class="form-control" id="pwd" placeholder="Password again">
					    </div>
					  </div>
					   <div class="form-group">
					    <label class="control-label col-sm-2" for="email">Email:</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" id="email" placeholder="Email">
					    </div>
					  </div>
					  
					  <hr>
					  
					   <div class="form-group">
					    <label class="control-label col-sm-2" for="name">Name:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="name" placeholder="Name">
					    </div>
					  </div>
					   <div class="form-group">
					    <label class="control-label col-sm-2" for="surname">Surname:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="surname" placeholder="Surname">
					    </div>
					  </div>
					
					   <div class="form-group">
					    <label class="control-label col-sm-2" for="TRN">TRN:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="trn" placeholder="Tax Registration Number">
					    </div>
					  </div>
					 
					 <hr>
					 
					<div class="form-group">
					    <label class="control-label col-sm-2" for="country">Country:</label>
					    <div class="col-sm-10">
					    	<select class="form-control"></select>
					    </div>
					  </div>
					 
					  <div class="form-group">
					    <label class="control-label col-sm-2" for="city">City:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="city" placeholder="City">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="control-label col-sm-2" for="address">Address:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="address" placeholder="Address">
					    </div>
					  </div>

				     <div class="form-group">
					    <label class="control-label col-sm-2" for="tel">Telephone:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="telephone" placeholder="Telephone">
					    </div>
					  </div>
<hr>
					  <div class="form-group" > 
					    <div class="col-sm-offset-5 col-sm-7">
					      <button ng-click="submit_function()" type="submit" class="btn" style="background-color:#27AE60; color:#ECF0F1;">Submit</button>
					    </div>
					  </div>
					</form>
				</div>
				
				</div>
				<!-- 
			<div class="modal-footer">
				<button type="button" class="btn" style="background-color:#E67E22; color:#ECF0F1;" data-dismiss="modal">Close</button>
			</div>
			-->
			</div>
			</div>

</body>
</html>